body, html {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    background-color: #282828;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
    height: 40px;
    padding: 10px;
}

#logo {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    color: #80cbc4;
}

.outter-container {
    background: #7e7e7e;
    min-height: 100%;
}

.clickable {
    user-select: none;
    cursor: pointer;
}

.organizer-container {
    display: flex;
    justify-content: space-evenly;
}

.project-menu {
    border: 1px solid black;
}

.input-name-field {
    display: flex;
    align-items: center;
    height: 50px;
}

.project-list-item {
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
}

.current-project {
    border: 1px solid black;
    flex-grow: 0;
}

.create-todo-field {
    display: flex;
    flex-direction: column;
}

.todo-input {
    display: none;
}

.todo-input:nth-child(1) {
    display: initial;
    height: 30px;
}

.todo-input.active {
    display: initial;
}

.todo-item {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid black;
}

.todo-item:hover {
    background-color: rgb(31, 31, 31);
}

.todo-item-name {
    position: relative;
    color: white;
}

.todo-item-name::before {
    content:'';
    position: absolute;
    height:2px;
    width: 0;
    background: white;
    top: 50%;
    transition: 0.3s;
}

.todo-item-name.checked::before {
    width:100%;
}

.checkbox {
    position: relative;
    height: 30px;
    width: 30px;
    border: 2px solid #96989c;
    border-radius: 0%;
    overflow: hidden;
    transition: all 0.5s, background-color 0s;
}

.checkbox:hover {
    background-color: #f0f0f0;
}

.checkbox.checked:hover {
    background-color: transparent;
}

.checkbox:hover::before {
    visibility: visible;
    width: 15px;
    height: 6px;
    border-color: #96989c;
}

.checkbox.checked::before {
    visibility: visible;
    width: 15px;
    height: 6px;
    border-color: rgb(255, 255, 255) !important;
}

.checkbox::before {
    visibility: hidden;
    top: 7px;
    left: 4px;
    position: absolute;
    content: "";
    width: 15px;
    height: 6px;
    border-color: white;
    border-style: solid;
    border-width: 0 0 3px 3px;
    transform: rotate(-45deg);
    transition: all 0.3s, visibility 0s;
    overflow: hidden;
}

.low {
    border-color: rgb(92, 160, 248);
}
.medium {
    border-color: rgb(248, 186, 70);
}
.high {
    border-color: rgb(248, 109, 109);
}
.checkbox.checked {
    border-radius: 100%;
}

.date-due {
    margin-left: auto;
    cursor: auto;
}

.due {
    color: rgb(251, 111, 111);
}

.todo-modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
   
}

.show-todo-modal {
    display: flex;
}

.todo-details {
    display: flex;
    flex-direction: column;
    background: #c2c2c2;
    margin: 100px auto;
    padding: 20px;
    width: 300px;
    height: 300px;
}

.details-item {
    border: none;
    background-color: transparent;
    resize: none;
    border-top: 1px solid gray;
}

.details-item:hover {
    background-color: transparent;
}


